<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

   <p class="ion-text-center" size="large">Events</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div id="container">
  <ion-button color="success" [routerLink]="['/event']">Click Me</ion-button>
  <ion-button color="success" [routerLink]="['/event']">Click Me</ion-button>
  <ion-button color="success" [routerLink]="['/event']">Click Me</ion-button>
  </div> -->
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="account" [routerLink]="['/event']">
        <ion-icon name="heart"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="contact">
        <ion-icon name="call"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  

  
  

    
  
</ion-content>

